<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/calendario/list">
      <img class="avatar avatar-s mx-2" src="/img/logo.svg" alt=""> BLABLABJJ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/calendario/list" tabindex="-1" aria-disabled="true"> <i
              class="fa fa-solid fa-magnifying-glass"></i> home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actividades/list" tabindex="-1" aria-disabled="true"> <i
              class="fa fa-solid fa-hand-rock"></i> Gestion Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/list" tabindex="-1" aria-disabled="true"> <i
              class="fa fa-solid fa-user"></i> Gestion Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clases/list" tabindex="-1" aria-disabled="true"> <i
              class="fa fa-solid fa-university"></i> Gestion Clases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asistencias/list" tabindex="-1" aria-disabled="true"> <i
              class="fa fa-solid fa-hands-helping"></i> Gestion Asistencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/membresia/landing" tabindex="-1" aria-disabled="true"> <i
              class="fa fa-solid fa-credit-card"></i> Membresia</a>
        </li>








        {{#if esMaster}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            GESTION ADMIN
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="/actividades/list">Gestion actividades</a>
            <a class="dropdown-item" href="/clases/list">Gestion Clases</a>
            <a class="dropdown-item" href="/usuarios/list">Gestion Usuarios</a>
            <a class="dropdown-item" href="/asistencias/list">Gestion Asistencias</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/membresias/list">Gestion Membresias</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/chat">Mis mensajes</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/logout ">Cerrar sesión </a>
          </ul>
        </li>
        {{/if}}

        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{>avatar size="xs" url=user.pictureURL}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="/usuarios/get/{{user.id}}">Perfil</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/actividades/add">Crear actividad</a>
            <a class="dropdown-item" href="/anuncios/add">Publicar Clases</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/transferencias">Subscriptores</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/chat">Mis mensajes</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/logout ">Cerrar sesión </a>
          </ul>
        </li>

        {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{!-- {{>avatar size="s"}} --}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/signin">Iniciar Sesion</a>
            <a class="dropdown-item" href="/signup ">Registrarse </a>
          </div>
        </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>